<h2 class="page-header">アップローダー追加</h2>

<form action="/authors" method="post">
    <%- include('_form_fields.ejs') %>
    <div class="form-row form-row-end btn-row">
        <a class="btn btn-danger" href="/authors">キャンセル</a>
        <button class="btn btn-primary" type="submit">追加</button>
    </div>
</form>