<h2 class="page-header">画像追加</h2>

<form action="/books" method="post">
    <%- include('_form_fields.ejs') %>
    <div class="form-row form-row-end btn-row">
        <a class="btn btn-danger" href="/books">キャンセル</a>
        <button class="btn btn-primary"  type="submit">追加</button>
    </div>
</form>