<header>
    <nav class="header-nav">
        <a class="header-title" href="/">画像共有サービス</a>
        <ul>
            <li><a href="/authors">アップローダー</a></li>
            <li><a href="/authors/new">新規アップローダー作成</a></li>   
            <li><a href="/books">画像</a></li>
            <li><a href="/books/new">アップロード</a></li>   
        </ul>
    </nav>
</header>